
<div class="w-5/6 h-full bg-white rounded-2xl md:w-6/12 lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:w-3/5 lg:h-2/4 xl:grid xl:grid-cols-2 xl:grid-rows-1 xl:w-2/5 xl:h-2/4">

  <img class="rounded-tl-2xl rounded-tr-2xl lg:hidden xl:hidden" src="../../../../assets/images/image-product-mobile.jpg" alt="product-mobile">

  <img class="lg:block lg:h-full lg:rounded xl:block xl:h-full xl:rounded-tl-2xl xl:rounded-bl-2xl hidden" src="../../../../assets/images/image-product-desktop.jpg" alt="product-desktop">

  <div class="grid gap-4 p-5 lg:place-content-evenly lg:gap-0 2xl:gap-0">

    <h2 class="category text-xs 2xl:text-sm">PERFUME</h2>

    <h1 class="product-name text-3xl lg:text-4xl ">Gabrielle Essence Eau de Parfum</h1>

    <p class="description line-clamp-4 text-xs leading-5 2xl:text-sm">A floral, solar and voluptuos interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL</p>

    <div class="flex flex-row gap-x-5 items-center">
      <p class="new-price text-4xl basis-2/4">$149.99</p>
      <p class="old-price text-xs basis-2/4">$169.99</p>
    </div>


    <product-button class="button rounded-xl place-content-center h-fit" imgPath="../../../../assets/images/icon-cart.svg" title="Add to Cart" hover="#1c3c34" />

  </div>
</div>
